.chess {
  display: flex;
  height: 100vh;
}

.container_chess {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: flex;
  flex: 1;
}

.right_chess {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  padding-left: 2rem;
  align-items: center;
}

.left_chess {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 2rem;
}

.center-chess {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gpt3_head-content__list_chess {
  display: flex;
  flex-direction: column;
  background-color: #111827;
  height: 100%;
  width: 100%;
  flex: 1;
  max-height: 600px;
  min-height: 600px;
  overflow-y: auto;
  padding-left: 2rem;
  padding-top: 0rem;
}

.gpt3_head-content__list-item_chess {
  display: flex;
  align-items: center;
}

.gpt3_head-content__list-item_chess p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #d1d5db;
  margin: top 1.5rem;
  flex: 1;
}

.gpt3_head-content__list-item_chess button {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #d1d5db;
  background: #10b981;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  margin-left: 0;
  flex: 1;
}

@media screen and (max-width: 850px) {
  .image {
    display: none;
  }

  .board-container {
    width: 100vw;
    height: 100vw;
  }

  .container_chess {
    display: flex;
    flex-direction: column;
  }

  .center-chess {
    flex: 1;
    margin-bottom: 2rem;
  }

  .right_chess {
    padding-left: 0rem;
  }

  .gpt3_head-content__list_chess {
    max-height: 100vw;
    min-height: 100vw;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .image {
    display: none;
  }
  .board-container {
    width: 100vw;
    height: 100vw;
  }
  .container_chess {
    display: flex;
    flex-direction: column;
  }

  .center-chess {
    flex: 1;
    margin-bottom: 2rem;
  }

  .right_chess {
    padding-left: 0rem;
  }

  .gpt3_head-content__list_chess {
    max-height: 100vw;
    min-height: 100vw;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .image {
    display: none;
  }
  .container_chess {
    display: flex;
    flex-direction: column;
  }

  .board-container {
    width: 100vw;
    height: 100vw;
  }

  .right_chess {
    padding-left: 0rem;
  }

  .center-chess {
    flex: 1;
    margin-bottom: 2rem;
  }

  .gpt3_head-content__list_chess {
    max-height: 100vw;
    min-height: 100vw;
    padding-left: 1rem;
  }
}
