.gpt3__header {
  display: flex;
}
.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.gpt3_head-content__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  background-color: #111827;
  padding: 2rem;
  height: 100%;
  width: 100%;
  flex: 0.5;
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto;
}

.gpt3_head-content__list-item {
  display: flex;
  align-items: center;
}

.gpt3__header-content__text {
  width: 100%;
  margin: 2rem 0 1 rem;
  flex: 2;
}

.gpt3_head-content__list-item button {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #d1d5db;
  background: #10b981;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  margin-left: 0;
  flex: 1;
}

.gpt3_head-content__list-item p {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #d1d5db;
  margin: top 1.5rem;
  flex: 1;
}

.gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  width: 70%;
  height: 70%;
}
.gpt3__header-content h2 {
  font-family: Inter;
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
  color: #10b981;
}

.grey_text {
  font-family: Inter;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #707a77;
}

.lobby_icons {
  display: flex;
  justify-content: space-between;
}
